*.class

#package file
*.war
*.ear

#kidiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.setting/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file

*.log
*.catch
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
